/* src/components/MentorApproval.css */
.mentor-approval-container {
    text-align: center;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #87cefa;
    color: white;
  }
  
  button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
  }
  #b1{
    background-color:red;
    color:white;
  }
  #b2{
    background-color: rgb(9, 185, 9);
    color:white;
  }
  button:hover {
    background-color: #87cefa;
    color: white;
    transform: scale(1.05);
  }
  