/* frontend/src/ODRequest.css */
.odrequest-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding-top: 20px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.header img {
  width: 50px; /* Adjust according to your design */
  height: 50px; /* Adjust according to your design */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px; /* Adjust spacing */
}

.welcome-message {
  font-size: 1.2em; /* Adjust font size */
}

.form-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  box-sizing: border-box;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="date"],
.form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.form-container button {
  background-color: #18b0da;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}

.form-container button:hover {
  background-color: #0888d8;
  transform: scale(1.05);
}

.form-container button:active {
  transform: scale(0.95);
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Added styles for checkbox alignment */
.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}
